{% extends 'envanter/base.html' %}

{% block title %}Ürün Listesi{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                {% if urun.fotolar.all %}
                    <div id="urunFotoCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for foto in urun.fotolar.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ foto.foto.url }}" class="d-block w-100" alt="{{ urun.isim }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#urunFotoCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Önceki</span>
                        </a>
                        <a class="carousel-control-next" href="#urunFotoCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Sonraki</span>
                        </a>
                    </div>
                {% else %}
                    <img src="https://via.placeholder.com/500" class="d-block w-100" alt="{{ urun.isim }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ urun.isim }}</h1>
                <p><strong>Fiyat:</strong> {{ urun.fiyat }} {{ urun.para_birimi }}</p>
                {% if urun.eski_fiyat %}
                    <p><strong>Eski Fiyat:</strong> <del>{{ urun.eski_fiyat }} {{ urun.para_birimi }}</del></p>
                {% endif %}
                <p><strong>Ürün Açıklaması:</strong> {{ urun.aciklama }}</p>
                <ul>
                    <li><strong>Kategori:</strong> {{ urun.kategori.isim }}</li>
                    <li><strong>Stok Durumu:</strong> {{ urun.stok_miktari|yesno:"Stokta,Stokta Yok" }}</li>
                    <li><strong>Birim:</strong> {{ urun.birim }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
